@import '../../default.less';

.drawtextpopup {
  > div {
    display: flex;
    align-items: center;
    padding: 10px;

    &:not(:first-child) {
      border-top: @border;
    }
    > div {
      > input {
        width: 200px;
      }
    }
    > button {
      width: 100%;
    }
  }
}

