@import '../../default.less';

.dataservice {
  height: 100%;
  width: 100%;
  overflow: hidden;

  > .header {
    position: relative;
    // width: 800px;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    .logo {
      color: @primary-color;
      font-size: 24px;
      letter-spacing: 2px;
      :global(.iconfont) {
        font-size: 26px;
        display: inline-block;
        margin-right: 5px;
      }
    }

    .phone {
      position: absolute;
      right: 10px;
      :global(.anticon-phone) {
        display: inline-block;
        margin-right: 5px;
        color: @primary-color;
      }
    }
  }

  .navs {
    background: @primary-color;

    > div {
      position: relative;
      // width: 800px;
      height: 36px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      a {
        color: white;
        display: inline-block;
        font-size: 15px;
        padding: 0 10px;
        cursor: pointer;
      }

      .user {
        position: absolute;
        right: 10px;
        color: white;
      }
    }
  }

  .body {
    height: calc(~'100% - 50px - 32px');
    overflow: hidden;
    display: flex;

    > div {
      height: 100%;
    }

    .datatree {
      width: 320px;
      padding: 5px 10px;
      box-shadow: 1px 0 1px 0 @border-color;
      .header {
        color: @primary-color;
        height: 40px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid @primary-color;
        font-size: 18px;
        letter-spacing: 2px;
      }
      .search {
        height: 50px;

        display: flex;
        align-items: center;
      }

      .tree {
        height: calc(~'100% - 50px - 45px');
        overflow: auto;
        border-top: @border;
        border-bottom: @border;
        border-radius: 3px;

        :global {
          .anticon-pushpin-o {
            margin-right: 5px;
          }
        }
      }
    }

    .setting {
      width: calc(~'100% - 320px');
      height: 100%;
    }
  }

  .applylist {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 260px;
    z-index: 999;
    background: white;
    box-shadow: @box-shadow;
    padding: 10px;
    transition: @transition;
    display: none;

    &:global(.active) {
      display: block;
    }
    > h3 {
      color: @primary-color;
      font-weight: 700;
      border-bottom: @border;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
    > div {
      > h4 {
        margin-top: 10px;
      }
      > div {
        border: @border;
        border-radius: 3px;
        padding: 5px 10px;

        > span {
          position: relative;
          display: block;
          padding: 5px 10px;
          color: @primary-color;

          > i {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
          }
        }
      }
    }

    > button {
      margin-top: 10px;
      width: 100%;
    }
  }
}
